//colors
$white:#fff;
$gray:#454545;
$blue:#2980B9;
$darkBlue:#1c2c39;
$lightBlue:#3498DB;

$text_color_1:$gray;
$text_color_2:$white;
$linkColor:$blue;
$linkHover:$lightBlue;

// Fonts
$robotoFont:'Roboto', sans-serif;
$FjallaFont:'Fjalla One', sans-serif;